.main_wrapper{
    text-align: center;
    position: absolute;
    left: 50%;
    width: 80%;
    top: 50%;
    padding: 20px 15px;
    transform: translate(-50%);
}
.card_wrapper{
    border: 1px solid #000; 
    background-color: #000;
}